<html>
    <script src="./jquery.min.js"></script>
    <script src="./highcharts.js"></script>
    <script src="./multicolor_series.js"></script>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="./bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="./bootstrap.min.js"></script>
    <body>
    <div id="container" style="width:100%; height:300px;"></div>
    <table class="table table-condensed">
        <tr>
            <td>Distance to route</td>
            <td>{{offroute}} miles</td>
        </tr>
        <tr>
            <td>Distance</td>
            <td>{{distance}} miles</td>
        </tr>
    </table>
    <div id="accordion" role="tablist" aria-multiselectable="true">
    {{#pois}}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{index}}">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}" aria-expanded="true" aria-controls="collapse{{index}}">
                    {{name}} {{distance_togo}} miles {{elevation_togo}}ft
                    {{#offroute}}
                    {{offroute}} miles offroute
                    {{/offroute}}
                </a>
            </h4>
        </div>
        <div id="collapse{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{index}}">
            Type: {{details.type}}<br>
            Note: {{details.note}}<br>
            <table class="table table-condensed">
                {{#details.places}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{hours}}</td>
                    <td><a class="phone-non-mobile" href="tel:{{phone}}">{{phone}}</a></td>
                    <td>{{note}}</td>
                </tr>
                {{/details.places}}
            </table>
        </div>
    </div>
    {{/pois}}
    </div>
    <script>
        $(function () {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'coloredarea',
                zoomType: 'xy',
                borderWidth: 5,
                borderColor: '#e8eaeb',
                borderRadius: 0,
                backgroundColor: '#f7f7f7'
            },
            legend: {
                enabled: false
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: 'Elevation (feet)'
                }
            },
            xAxis: {
                title: {
                    text: 'Distance (miles)'
                },
                plotLines: [
                    {{#pois}}
                    {
                        value: {{distance}},
                        width: 2,
                        color: 'black',
                        label: {
                            text: '{{name}}',
                            fontSize: '0.2em',
                            rotation: 90
                        }
                    },
                    {{/pois}}
                ]
            },
            series: [{
                type: 'coloredarea',
                name: 'route',
                data: [
                    {{#data}}
                    {
                        x: {{distance}},
                        y: {{elevation}},
                        segmentColor: 'rgba({{color.red}}, {{color.green}}, {{color.blue}}, 0.5)'
                    },
                    {{/data}}
                ]
            }]
        });
        });
        </script>
    </body>
</html>